# =========================
# Unity .gitignore
# =========================

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Asset meta
*.pidb
*.svd
*.pdb

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.booproj

# Rider
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Crash Reports
sysinfo.txt

# Plastic SCM (если случайно включился)
.plastic/
ignore.conf

# Android build output
.gradle/
.gradle-cache/
.gradleTemp/

# Addressables build (если добавишь позже)
ServerData/

# Do not ignore meta files
!*.meta